body {
  text-align: center;
  padding: 48px;
  background-color: #6B50D7;
  font-family: "Greycliff Bold", "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 90%;
}

input {
  font-size: 1.2em;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #FFDA19;
  border: none;
  color: #2C2C2C;
  font-weight: bold;
}

button:hover {
  box-shadow: 3px 2px 3px #6a7988;
}
